{% extends 'base.html' %}
{% load static %}

{% block content %}

<main>
    <div class="hero-page">
        <div class="hero-page-wrapper" style="display: flex; justify-content: space-between">
            <h1>
                What We Do : <br />
                <a
                  href=""
                  class="typewrite"
                  data-period="2000"
                  data-type='[ "Health Blogs", "Health Tips", "Medical Consultation","Freelance" ]'
                >
                  <span class="wrap"></span>
                </a>
            </h1>
            <div>
              <iframe style="width: 182px; height: 358px; border: 1px solid #ddd;" scrolling="no" src="https://www.islamicfinder.org/prayer-widget/"> </iframe>
            </div>
        </div>
    </div>
    
    <section class="post-images">
        <article>
            <div id="carousel">
                <div id="slide-container">
                  <div class="slide" data-slideIndex="0">
                    <div class="slide-banner"><a href=""> Tour the Empire State Building! </a></div>
                    <img width="1200" height="600" src="/static/images/bg-image-1.avif">
                  </div>
                  <div class="slide" data-slideIndex="1">
                    <div class="slide-banner"><a href="">Ride the Shinkansen! </a></div>
                    <img width="1200" height="600" src="/static/images/bg-image-2.avif">
                  </div>
                  <div class="slide" data-slideIndex="2">
                    <div class="slide-banner"><a href="">Discover relaxation! </a></div>
                    <img width="1200" height="600" src="/static/images/bg-image-3.jpg">
                  </div>
                  <div class="slide" data-slideIndex="3">
                    <div class="slide-banner"> <a href="">See penguins!</a></div>
                    <img width="1200" height="600" src="/static/images/bg-image-4.jpg">
                  </div>
                  <div class="slide" data-slideIndex="4">
                    <div class="slide-banner"><a href="">Take a ride on the wheel! </a></div>
                    <img width="1200" height="600" src="/static/images/bg-image-5.webp">
                  </div>
                </div>
                <div id="back-button" class="arrow back">←</div>
                <div id="forward-button" class="arrow forward">→</div>
                <div class="slide-indicators">
                  <div class="slide-indicator active"></div>
                  <div class="slide-indicator"></div>
                  <div class="slide-indicator"></div>
                  <div class="slide-indicator"></div>
                  <div class="slide-indicator"></div>
                </div>
              </div>
        </article>
    </section>

    <div class="blog-link">
        <div class="blog-link-wrapper">
            <a href="{% url 'blogs' %}"  class="btn-lg">Go to Blogs</a>
        </div>
    </div>
</main>

{% endblock content %}