
<section class="post-container">
  <article class="post-wrapper">
    <div class="post">
        <div class="post-image">
            {% comment %} <img src="/static/images/bg-image-1.avif" alt=""> {% endcomment %}
            <img src={{blog.image.url}} alt="">
        </div>

        <div class="post-contents">
            <div class="post-categories">
                <span>category 1</span>
                <span>category 2</span>
            </div>
    
            <div class="post-topic">
                <p>{{blog.topic.title}}</p>
            </div>
    
            <div class="post-details">
                <div class="post-author">Author: <span><img class="author-image" src={{blog.owner.avatar.url}} alt=""></span> <span>{{blog.owner.username}}</span></div>
                <div class="post-date">{{blog.created_at | timesince}} ago</div>
            </div>
    
            <div class="post-description">
              <p>
                {{blog.body}}
              </p>
            </div>
            <div class="more">
            <a href="{% url 'post' blog.id %}"><span>Read More</span></a>

            </div>
            <div class="post-edit">
                <i class="fa fa-edit"></i>
                <i class="fa fa-multiply"></i>
            </div>
        </div>

    </div>
  </article>
</section>
