
<section class="post-container">
  <article class="post-wrapper">
    <div class="post">
        <div class="post-image">
            <img src="/static/images/bg-image-1.avif" alt="">
        </div>

        <div class="post-contents">
            <div class="post-categories">
                <span>category 1</span>
                <span>category 2</span>
            </div>
    
            <div class="post-topic">
                <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
    
            <div class="post-details">
                <div class="post-author">Author: <span><img class="author-image" src="/static/images/bg-image-4.jpg" alt=""></span> <span>Jemeel</span></div>
                <div class="post-date">25 days ago</div>
            </div>
    
            <div class="post-description">
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo eum libero
                assumenda reprehenderit laudantium maiores vel nesciunt, provident amet!
                Minus deleniti possimus obcaecati nihil illo. Ullam maiores at voluptas
                rerum vero quam voluptate possimus aspernatur, rem ab facere fugit, esse
                totam adipisci, numquam molestiae. Quos quis autem laudantium optio
                consectetur, saepe quas obcaecati qui praesentium at sunt in quisquam odio
                doloribus rerum modi quod reprehenderit impedit! Ducimus dolores esse
                necessitatibus vero tenetur natus dicta consectetur magnam, facere
                excepturi? Laborum in voluptatibus nesciunt corporis. Illum fuga
                architecto ipsam commodi, quaerat recusandae doloremque obcaecati odio
                ratione tempore, earum labore rerum dolor error.
              </p>
            </div>
            <div class="more">
            <a href="{% url 'post'%}"><span>Read More</span></a>

            </div>
            <div class="post-edit">
                <i class="fa fa-edit"></i>
                <i class="fa fa-multiply"></i>
            </div>
        </div>

    </div>
  </article>
</section>
