
<article>
    <div class="" id="email-message" style="display: block; max-width: 1100px; border: 1px dashed #0a4cbe; border-radius: 5px; margin:50px auto 0;
     padding: 2rem;
    background-color: b7c9d0f; color: #0a4cbe;">
        <div  style=" text-align: center; line-height: 70px;">
          <h2 style="border-bottom: 1px solid #e9e9e9">YOUR DOKITA ACCOUNT ACTIVATION</h2>
          <h3 style="border: 1px solid #e9e9e9; padding: 1rem 2rem;">Email Confirmation</h3>
         <h4 style="color: green; font-weight: bold">Hi {{inactive_user.username}};</h5>
        </div>
        <div style=" text-align: center;
        font-size: 18px;">
            <p>You received this mail because you attempted to create an account
              on our dokita.com <br>
            </p>
            <p>
            <a href="{{link}}" class="" style="color: red;"> Please click HERE to confirm the email and activate your account.</a>
            </p>

          
            
    
        </div>
     </div>
</article>
