{% extends 'base.html' %} {% block title %} Password Reset {% endblock title%}
{% block content %}
<article style="background: transparent">
  <div>
    {% if validlink %}
    <div>
      {% if form.errors %}
      <div role="alert">
        <div id="form_errors">
          {% for key, value in form.errors.items %}
          <strong>{{ value }}</strong>
          {% endfor %}
        </div>
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %}

      <div>
        <form method="POST" style="margin: auto">
        <h3>Reset Your Password</h3>

          {% csrf_token %}

          <ul>
            <li>
              <label class="small mb-1" for="id_new_password1"
                >New Password</label
              >
              <input
                type="password"
                name="new_password1"
                autocomplete="new-password"
                class="form-control"
                required
                id="id_new_password1"
                placeholder="Enter password"
              />
              <span> </span>
            </li>
            <li>
              <label class="small mb-1" for="id_new_password2"
                >New Password Confirmation</label
              >
              <input
                type="password"
                name="new_password2"
                autocomplete="new-password"
                required
                id="id_new_password2"
                class="form-control"
                placeholder="Confirm password"
              />
            </li>
            <li>
              <input type="submit" value="Reset Password" id="reset" />
            </li>
          </ul>
        </form>
      </div>
    </div>
    {% else %}
    <div style="text-align: center; color: red; font-size: 18px">
      The password reset link was invalid, possibly because it has already been
      used. Please request a new password reset.
    </div>
    {% endif %}
  </div>
</article>
{% endblock content %}
