{% extends 'base.html' %}

{% block content %}
   {% comment %} <article> {% endcomment %}
    
                <div style="display: flex; justify-content: center; margin-top: 5vh">
                    <div class="messages">
                        <p style="color: green">
                        Your password has been set. You may go ahead and <a href="{% url 'login' %}"style="color: green; font-weight: bold"><i>Login Here</i> </a>
                        </p>
                    </div>
                </div>
            
   {% comment %} </article> {% endcomment %}
{% endblock content %}